<!--
/**
* This is the main css file for our Application.
*
* @author  UP812199, Jack Hickman, up767436
* @version 1.0
* @since   2018-03-10 
*/
-->


body {
    background-color: #f44265;
}

header {
    text-align: center;

}

/*Navigation styles*/

nav {
    text-align: center;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
}

.vis {
    padding-top: 10px;
    background-color: white;
    border-radius: 6px;
    margin: 1% 1% 1% 1%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1%;
}

.grid-item {
    vertical-align: center;
}

/*///Hyperlink positioning* UP812199// 
.Hyplink a{
    color: white;
    position: absolute;
    bottom: 60px;
    right: 16px;
    font-size: 18px;
    
}

/*///Hovering over settings*UP812199// 
li a:hover{
     
    list-style-type: none;
    font-family: sans-serif;
    font-size: 110%; 
    display: block;
    color: black;
    padding: 1.5em;
    text-decoration: none;
    

}

/*//Hover border*UP812199///

ul {
    
    list-style-type: none;
    padding: 20px;
    width: 200px;
    padding: 25px;
    background-color: white;
    border: 3px double black;
    border-radius: 40px;
    position: fixed;
    top: 10%;
    left: 20%;
        
    
}

/* UP767436 Code to style the navigation bar  */
/* Style the links inside the navigation bar */
#navBar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* UP767436 Change the color of links on hover, this is a useful technique when browsing on desktop as it allows the user to know that 
their mouse is working and can carefully select the page they want.*/
#navBar a:hover {
    background-color: #ddd;
    color: black;
}

/* UP767436 Style the "active" element to highlight the current page. In this case, the current page will be highlighted in blue, showing
the user will know which page they're on. */
#navBar a.active {
    background-color: #2196F3;
    color: white;
}

/* UP767436 Style the search box inside the navigation bar. We want to keep this as simple as possible therefore the styling
is mainnly for positioning and ledgibility purposes.*/
#navBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* UP767436 When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally
The purpose of this is to incoporate media queries to tailor the content to the device being used. Content will stretch or shrink
in order to provide the user with the best possible viewing experience. It should be noted, the smaller the device, the harder it is 
for content to be enjoyed.*/
@media screen and (max-width: 600px) {
    #navBar a, #navBar input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    #navBar input[type=text] {
        border: 1px solid #ccc;
    }
}

/* UP767436 Changes the text within the form to white to prevent color clashing. */
form{
    color: white;
}



